alembic==1.16.5
email-validator==2.2.0
fastapi==0.116.2
httpx==0.28.1
psycopg[binary]==3.2.10
PyJWT==2.10.1
pydantic-settings==2.10.1
pytest==8.4.2
ruff==0.16.8
sqlalchemy==2.0.43
tzdata==2026.4
uvicorn[standard]==0.35.0
